.ButtonController {
    display: flex;
    column-gap: 20px;
    padding: 10px;

    &__buttons {
        display: flex;
        flex: 1 0 0;

        &.buttons__left {
            justify-content: flex-end;
        }
    }

    &__input {
        flex: 1 0 0;
        max-width: 200px;
    }
}

.Button {
    min-width: 60px;
    max-width: 200px;
}
